RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?ixt_route=$1 [L,QSA]

<files config.json>
	order deny,allow
	deny from all
</files>